body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#messages .notification {
  padding-left: 0;
  padding-right: 0;
  .delete {
    top: 1.25rem;
  }
}

// Bulma tweaks
.navbar-brand {
  .navbar-item {
    font-size: 1.5rem;
    margin-top: -0.25rem;
    img {
      max-height: 1em;
      margin-right: 0.25em;
    }
  }
}
.navbar-menu:first-child .navbar-item:first-child {
  margin-left: -0.75rem;
}
.navbar-item > span.icon:first-child {
  width: 1.25rem;
  justify-content: flex-start;
}

.checkbox {
  input:first-child {
    margin-right: 0.5rem;
  }
}
.content {
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  dt {
    font-weight: bold;
    &:after {
      content: ':'
    }
  }
}

.button.card-footer-item {
  height: inherit;
  border: none;
  border-radius: 0;
  justify-content: center;
  padding: 0.75rem;
  &:not(:last-child) {
    border-right: $card-footer-border-top;
  }
}

// Needed to work around regression with flex-basis: 0 in Chrome 84
.tile {
  flex-basis: auto;
}

.section.is-collapsed {
  margin-top: -3rem;
}

.home__columns {
  .column .box {
    height: 100%;
  }
}

.home__title {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  display: inline-grid;
  grid-template-columns: 1.15em 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "image name pn" ". . examples";
  > * {
    white-space: nowrap;
  }
}
.home__title__image {
  grid-area: image;
  padding-right: 0.15em;
  img {
    height: 1em;
  }
}
.home__title__name { 
  grid-area: name; 
  text-align: right;
}
.home__title__pn { 
  grid-area: pn; 
  text-align: left;
}
.home__title__examples { 
  grid-area: examples; 
  text-align: left;
  padding-left: 2px;
}

.select:not(.is-multiple):not(.is-loading) {
  &::after {
    border-color: $input-arrow;
  }
}

.is-force-wrapped {
  overflow-wrap: break-word;
}
