body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#messages .notification {
  padding-left: 0;
  padding-right: 0;
  .delete {
    top: 1.25rem;
  }
}

// Bulma tweaks
.checkbox {
  input:first-child {
    margin-right: 0.5rem;
  }
}
.content {
  dt {
    font-weight: bold;
    &:after {
      content: ':'
    }
  }
}

.button.card-footer-item {
  height: inherit;
  border: none;
  border-radius: 0;
  justify-content: center;
  padding: 0.75rem;
  &:not(:last-child) {
    border-right: $card-footer-border-top;
  }
}

// Needed to work around regression with flex-basis: 0 in Chrome 84
.tile {
  flex-basis: auto;
}

.section.is-collapsed {
  margin-top: -3rem;
}

.home__columns {
  .column .box {
    height: 100%;
  }
}

.home__title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "name pn" ". examples";
  > * {
    white-space: nowrap;
  }
}
.home__title__name { 
  grid-area: name; 
  text-align: right;
}
.home__title__pn { 
  grid-area: pn; 
  text-align: left;
}
.home__title__examples { 
  grid-area: examples; 
  text-align: left;
}

.select:not(.is-multiple):not(.is-loading) {
  &::after {
    border-color: $input-arrow;
  }
}

.is-force-wrapped {
  overflow-wrap: break-word;
}
