html {
  height: 100%;
}
body {
  min-height: 100%;
}

#messages .notification {
  padding-left: 0;
  padding-right: 0;
  .delete {
    top: 1.25rem;
  }
}

// Bulma tweaks
.checkbox {
  input:first-child {
    margin-right: 0.5rem;
  }
}
.content {
  dt {
    font-weight: bold;
    &:after {
      content: ':'
    }
  }
}

// Needed to work around regression with flex-basis: 0 in Chrome 84
.tile {
  flex-basis: auto;
}

.section.is-collapsed {
  margin-top: -3rem;
}
