.profile-form {
  .field {
    margin-bottom: 2em;
  }
  .help {
    padding: 0 0.75em;
    font-size: 0.9em;
    &:not(.is-danger) { 
      color: $grey; 
    }
  }
  .level .field {
    margin-bottom: 0;
  }
}

.profile-pronouns {
  .handle {
    display: none;
  }
  .checkbox {
    display: block;
    margin-bottom: 2rem;
    label {
      cursor: pointer;
      font-size: $size-5;
      line-height: $size-5;
      font-weight: bold;
      > input[type=checkbox] {
        height: $size-5;
        width: $size-5;
        margin-right: 0.2rem;
        vertical-align: top;
      }
      > input[type=number] {
        height: $size-5;
        width: $size-5 * 2;
        vertical-align: top;
      }
      .help {
        font-weight: normal;
        font-size: 1rem;
        padding-left: 1.5rem;
      }
    }
  }
}

.field-slug {
  .input {
    &:focus-within {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
    }
  }
  .field-slug__input {
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0;
    line-height: 1.5;
    width: 100%;
  }
}
.field-slug--error .input {
  border-color: $danger;
  &:focus-within {
    box-shadow: $input-focus-box-shadow-size bulmaRgba($danger, 0.25);
  }
}

.copy-button {
  &.copy-button--copied {
    .copy-button__initial {
      display: none;
    }
  }
  &:not(.copy-button--copied) {
    .copy-button__after {
      display: none;
    }
  }
}

@keyframes blink {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

.recorder {
  .recorder__available, .recorder__prompt-form, .recorder__denied {
    display: none;
  }
  
  &.recorder--granted {
    .recorder__unavailable, input#user_pronunciation {
      display: none;
    }
    .recorder__available {
      display: block;
    }
  }
  
  &.recorder--prompt {
    .recorder__unavailable, input#user_pronunciation {
      display: none;
    }
    .recorder__prompt-form {
      display: block;
    }
  }
  
  &.recorder--denied {
    .recorder__unavailable, input#user_pronunciation {
      display: none;
    }
    .recorder__denied {
      display: block;
    }
  }
}
.recorder__buttons {
  display: flex;
  margin: -0.2rem;
  @include mobile {
    flex-direction: column;
  }
  > * {
    flex: 1;
    margin: 0.2rem;
    user-select: none;
    justify-content: center;
    > .button {
      width: 100%;
      justify-content: center;
    }
  }
}
.recorder__button.is-active {
  > .icon {
    animation: blink 1s linear infinite;
  }
  .recorder__button-text-idle {
    display: none;
  }
}
.recorder__button:not(.is-active) {
  .recorder__button-text-active {
    display: none;
  }
}

.likeness_uploader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.likeness_uploader__buttons {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  .button:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.link-fields, .alternate_name-fields {
  border: 1px solid $grey-lighter;
  border-radius: $radius;
  align-items: center;
  > * {
    margin: 0.5rem;
  }
  .field { 
    margin-bottom: 0.5rem;
  }
}
