.profile-form {
  .field {
    margin-bottom: 2em;
  }
  .help {
    padding: 0 0.75em;
    font-size: 0.9em;
    color: $grey;
  }
  .level .field {
    margin-bottom: 0;
  }
}

.profile-pronouns {
  .checkbox {
    display: block;
    margin-bottom: 1rem;
    label {
      font-size: $size-5;
      line-height: $size-5;
      > input {
        height: $size-5;
        width: $size-5;
        vertical-align: middle;
      }
    }
  }
}
