$red-bg: change-color($primary, $lightness: 97%);
$green-bg: change-color($green, $lightness: 96%);
$blue-bg: change-color(blue, $lightness: 98%);

.is-personal-name {
  background-color: $red-bg;
}
.is-pronouns {
  background-color: $green-bg;
}
.is-url {
  background-color: $blue-bg;
}
.is-pronunciation {
  background-color: $red-bg;
}
.is-variants {
  background-color: $green-bg;
}
.is-likeness {
  background-color: $blue-bg;
}
.is-links {
  background-color: $red-bg;
}
.is-ipa {
  font-family: Voces, sans-serif;
}
