$personal-name: change-color($purple, $lightness: 97%);
$formal-name: change-color($cyan, $lightness: 93%);
$pronouns: change-color($orange, $lightness: 93%);
$pronunciation: change-color($blue, $lightness: 90%);
$url: change-color($yellow, $lightness: 90%);
$likeness: change-color($red, $lightness: 93%);
$links: change-color($green, $lightness: 97%);
$primary-bg: change-color($primary, $lightness: 90%);

.is-personal-name {
  background-color: $personal-name;
}
.is-formal-name {
  background-color: $formal-name;
}
.is-pronouns {
  background-color: $pronouns;
}
.is-pronunciation {
  background-color: $pronunciation;
}
.is-url {
  background-color: $url;
}
.is-likeness {
  background-color: $likeness;
}
.is-links {
  background-color: $links;
}
.is-ipa {
  font-family: Voces, sans-serif;
}
