body.user-profile {
  background-image: linear-gradient( 180.3deg,  rgba(221,221,221,1) 5.5%, rgba(110,136,161,1) 90.2% );
  background-attachment: fixed;
}

// Styles for the name-and-pronoun-card
.napc {
  background-color: $red;
  color: $white;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  text-align: center;
  border-radius: $radius-large;
}
.napc__text-box {
  background-color: $white;
  color: $black;
  border-radius: $radius-large;
  padding: 1rem 2rem;
  font-family: $family-handwriting;
  font-size: 3rem;
  line-height: 4.5rem; // fix it at 1.5 of the original size
}
.fit {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
.napc__text-box--name {
  font-size: 5rem;
  line-height: 7.5rem; // fix it at 1.5 of the original size
  height: 9.5rem; // fix it at line-height + 1rem padding at top and bottom
}
.napc__greeting {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  line-height: 1;
}
.napc__heading {
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
  margin: 0.5rem 0;
}

.profile-card {
  border-radius: $radius-large;
  font-size: 1.5rem;
}
.profile-card__header {
  border-radius: $radius-large $radius-large 0 0;
  background-color: $green;
  > .card-header-title {
    color: $white;
  }
}
.profile-card__heading {
  color: $green;
  font-weight: normal;
  &:not(:first-child) {
    margin-top: 2rem;
  }
}
.profile-card__name {
  font-weight: bold;
  > * {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
  ul {
    margin-left: 1.5rem;
    list-style-type: square;
  }
}
.profile-card__hint {
  color: $grey;
  font-size: 1rem;
}
.profile-card__pronoun {
  margin-top: 2rem;
}
.profile-card__example {
  font-size: 1.25rem;
  margin-top: 0.75rem;
}

.blurb {
  text-align: center;
  padding: 1rem;
  a {
    color: $light;
    text-decoration: underline;
  }
}

.likeness {
  a[data-controller="lightbox"] {
    cursor: zoom-in;
  }
  img {
    border-radius: 50%;
  }
}
.likeness--centered {
  display: flex;
  justify-content: center;
}
