@use "bulma/sass/elements/content";

.content {
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  dt {
    font-weight: bold;
    &:after {
      content: ':'
    }
  }
  a:not(.button) {
    text-decoration: underline;
  }
}
