.tile.is-child.card.is-account
  .card-header
    .card-header-title= t('.title')
    .card-header-icon
      = link_to edit_user_registration_path, class: 'icon', title: t('actions.edit') do
        %i.mdi.mdi-pencil
  .card-content
    .content
      %dl
        %dt= User.human_attribute_name(:email)  
        %dd= current_user.email
