%section.hero.is-light
  .hero-body
    .container
      %h1.title= title t('.title')
%section.section
  .container
    %p= link_to t('.sign_up_free'), new_user_registration_path, class: 'button is-link is-large'
