%section.hero.is-light
  .hero-body
    .container
      %h1.title= title t('.title')
%section.section
  .container
    - if user_signed_in?
      %p= link_to t('profile.show.title'), profile_index_path, class: 'button is-link is-large'
    - else
      %p= link_to t('.sign_up_free'), new_user_registration_path, class: 'button is-link is-large'
