%table.table.is-bordered.is-striped
  %tbody
    - %i[nominative oblique possessive_determiner possessive reflexive copula].each do |inflex|
      %tr
        %th= PronounSet.human_attribute_name(inflex)
        - pronoun_sets.each do |pronoun_set|
          %td= pronoun_set.public_send(inflex)
