%table.table.is-bordered.is-striped
  %thead
    %tr
      - pronoun_sets.each do |pronoun_set|
        %th= t('.header', pronoun: pronoun_set.to_s(current_user))
  %tbody
    - %i[name nominative oblique possessive_determiner possessive reflexive].each do |inflex|
      %tr
        - pronoun_sets.each do |pronoun_set|
          - pronoun = (inflex == :name ? current_user.personal_name : pronoun_set.public_send(inflex))
          %td= raw(t inflex, pronoun: pronoun, pronoun_initial: pronoun.capitalize, nominative: pronoun_set.nominative, nominative_initial: pronoun_set.nominative.capitalize, copula: pronoun_set.copula, personal_name: current_user.personal_name, scope: "pronoun_examples.#{user.pronoun_example}")
