%table.table.is-bordered.is-striped
  %thead
    %tr
      - pronoun_sets.each do |pronoun_set|
        %th= t('.header', pronoun: pronoun_set.to_s)
  %tbody
    - %i[name nominative oblique possessive_determiner possessive reflexive].each do |inflex|
      %tr
        - pronoun_sets.each do |pronoun_set|
          - pronoun = (inflex == :name ? current_user.personal_name : pronoun_set.public_send(inflex))
          %td= raw(t "pronoun_examples.cooking.#{inflex}", pronoun: pronoun, pronoun_initial: pronoun.capitalize, nominative_initial: pronoun_set.nominative.capitalize, copula: pronoun_set.copula)
