%p.mt-5.has-text-centered
  = link_to 'https://github.com/fishpercolator/name.pn/issues', class: 'button is-link is-outlined is-medium' do
    %span.icon
      %i.mdi.mdi-bug
    %span= t('.report_a_bug')
%p.has-text-centered
  = link_to 'mailto:support@name.pn', class: 'button is-link is-outlined is-medium' do
    %span.icon
      %i.mdi.mdi-email
    %span support@name.pn
