%section.section
  .container
    .columns
      .column.is-three-fifths.is-offset-one-fifth
        %h1.title= title t('.title')
        .content.mt-5.is-size-5
          %p= t('.blurb')
          = render 'support'
