.home-title {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  display: inline-grid;
  grid-template-columns: 1.15em 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "image name pn" ". . examples";
  > * {
    white-space: nowrap;
  }
}
.home-title__image {
  grid-area: image;
  padding-right: 0.15em;
  img {
    height: 1em;
  }
}
.home-title__name { 
  grid-area: name; 
  text-align: right;
}
.home-title__pn { 
  grid-area: pn; 
  text-align: left;
}
.home-title__examples { 
  grid-area: examples; 
  text-align: left;
  padding-left: 2px;
}
