@use "bulma/sass/utilities/mixins";

@keyframes blink {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

.recorder {
  .recorder__available, .recorder__prompt-form, .recorder__denied {
    display: none;
  }
  
  &.recorder--granted {
    .recorder__unavailable, .recorder__nojs {
      display: none;
    }
    .recorder__available {
      display: block;
    }
  }
  
  &.recorder--prompt {
    .recorder__unavailable, .recorder__nojs {
      display: none;
    }
    .recorder__prompt-form {
      display: block;
    }
  }
  
  &.recorder--denied {
    .recorder__unavailable, .recorder__nojs {
      display: none;
    }
    .recorder__denied {
      display: block;
    }
  }
}
.recorder__buttons {
  display: flex;
  margin: -0.2rem;
  @include mixins.mobile {
    flex-direction: column;
  }
  > * {
    flex: 1;
    margin: 0.2rem;
    user-select: none;
    justify-content: center;
    > .button {
      width: 100%;
      justify-content: center;
    }
  }
  > .button:first-child:last-child {
    // Allow full-width buttons to wrap, because the permissions button might need it on mobile
    white-space: normal;
  }
}
.recorder__button.is-active {
  cursor:progress;

  > .recorder__button-icon {
    animation: blink 1s linear infinite;
  }
  .recorder__button-wait, .recorder__button-text-idle, .recorder__button-text-waiting {
    display: none;
  }
}
.recorder__button.is-waiting {
  cursor: wait;

  .recorder__button-icon, 
  .recorder__button-text-active,
  .recorder__button-text-idle {
    display: none;
  }
}
.recorder__button:not(.is-active):not(.is-waiting) {
  .recorder__button-wait, .recorder__button-text-active, .recorder__button-text-waiting {
    display: none;
  }
}
