// Config goes here
$red:       #D62839;
$yellow:    #BC8034;
$green:     #4E937A;
$blue:      #175676;
$grey:      #595959;

@use "bulma/sass/utilities" with (
  $primary:   $red,
  $warning:   $yellow,
  $family-sans-serif: 'Raleway, sans-serif',
);
$family-handwriting: '"Patrick Hand", cursive';

// Add the pieces of Bulma that your project uses here
@forward "bulma/sass/base";

@forward "bulma/sass/components/card";
@forward "bulma/sass/components/message";
@forward "bulma/sass/components/modal";
@forward "bulma/sass/components/navbar";

@forward "bulma/sass/elements/box";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/notification";
@forward "bulma/sass/elements/table";
@forward "bulma/sass/elements/title";

@forward "bulma/sass/form";
@forward "bulma/sass/grid";
@forward "bulma/sass/layout";

@forward "bulma/sass/themes";

@import "bulma-o-steps/bulma-steps";

$mdi-font-path: "@mdi/font/fonts";
@import "@mdi/font/scss/materialdesignicons";

@import "animate.css/animate";

@import "@uppy/core/dist/style";
@import "@uppy/dashboard/dist/style";
@import "@uppy/image-editor/dist/style";
@import "@uppy/webcam/dist/style";

@import "luminous-lightbox/dist/luminous-basic";

@import "custom/layout";
@import "custom/theme";
@import "custom/profile";
@import "custom/user_profile";
