$red:       #D62839;
$yellow:    #BC8034;
$green:     #4E937A;
$blue:      #175676;
$cyan:      #3E8ED0;
$grey:      #595959;

$font-sans: 'Raleway', sans-serif;
$font-handwriting: 'Patrick Hand', cursive;
$font-ipa: 'Voces', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Raleway:wght@400;700&family=Voces&display=swap');
