%ul.steps.has-content-centered
  - wizard_steps.each.with_index do |each_step|
    %li.steps-segment{class: ('is-active' if each_step == step)}
      = link_to '', wizard_path(each_step), class: 'steps-marker'
      .steps-content
        %p= t(each_step, scope: 'profile.steps')
