%section.section
  .container
    = render 'header'
    = simple_form_for @user, url: wizard_path, method: :patch do |f|
      = f.association :pronoun_sets, as: :check_boxes
      = render 'buttons', f: f
